.producto_oferta{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

    margin: 25px 0 25px 0;
}

.producto_oferta_img, .producto_oferta_detalle{
    padding-top: 20px;
    padding-bottom: 20px;
}

.producto_oferta_detalle{
    color: white;
}

.producto_destacado_titulo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.producto_destacado{
    margin-bottom: 35px;
}

.card{
    color: white;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.marcas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.marca_imagen{
   background-color: white;
   border-color: #FBDA61;
   width: 250px;
   height: 250px; 
}

.container_marcas{
    margin-bottom: 35px;
}

.nombre_usuario{
    text-align: right;
    margin-right: 100px;
}