{% extends "ProyectoWebApp/plantilla_base.html" %}

{% load static %}

{% block title %} Blog {% endblock %}

{% block content %} 


<div class="container">
    {% for post in posts %}
        {% for categoria in post.categoria.all %}
    <div class="card" style="width: 18rem;">
        <img src="{{post.imagen.url}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{post.titulo}}</h5>
        <p class="card-text">{{post.contenido}}</p>
        <p class="card-text">{{post.autor}}</p>
        <p class="card-text">{{categoria.nombre}}</p>
        <a href="#" class="btn btn-primary">Contratar</a>
        </div>
    </div>
        {% endfor %}
    {% endfor %}
</div>


<section>
    <div style="width: 75%; margin: auto; text-align: center; color: aliceblue;">
        <p>Categorías</p>
        {% for post in posts %}
            {% for categoria in post.categoria.all %}
                {{categoria.nombre}} &nbsp;&nbsp;&nbsp;
            {% endfor %}
        {% endfor %}

    </div>
</section>


{% endblock %}