
{% extends "ProyectoWebApp/plantilla_base.html" %}

{% load static %}

{% block title %} Servicios {% endblock %}

{% block content %} 
    <div class="container">
        {% for servicio in servicios %}
        <div class="card" style="width: 18rem;">
            <img src="{{servicio.imagen.url}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{servicio.titulo}}</h5>
            <p class="card-text">{{servicio.contenido}}</p>
            <a href="#" class="btn btn-primary">Contratar</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}